@import 'user';

@mixin width-calc($var-name, $input, $breakpoint: $breakpoints) {
    @each $input-breakpoint, $width in $input {
        @if map-has-key($breakpoint, $input-breakpoint) {
            $input-breakpoint: map-get($breakpoint, $input-breakpoint);
        }
        @media screen and (min-width: $input-breakpoint) {
            #{$var-name}: $width;
        }
    }
}

body {
    @include width-calc(font-size, $font-sizes);
    background-color: $background;
    color: $foreground;
    font-family: $serif;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
}

article {
    @include width-calc(width, $widths);
    margin: 0 auto;

    a {
        text-decoration: underline;
    }
}

a {
    color: $foreground;
    text-decoration: none;
}

footer {
    @include width-calc(width, $widths);
    border-top: 1px solid $border;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;

    a {
        color: $border;
        padding: 1em 0;
        position: relative;
        text-decoration: none;

        :hover {
            text-decoration: none;
        }
    }
}

.top-link, .chapter-link {
    &::before {
        background-color: $border;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out 0s;
        visibility: hidden;
        width: 100%;
    }

    &:hover {
        &::before {
            transform: scaleX(1);
            visibility: visible;
        }
    }
}

.previous-link {
    border-right: 1px solid $border;
    flex-grow: 1;
    padding-right: 1em;
    text-align: left;
    width: 40%;
}

.top-link {
    border-right: 1px solid $border;
    padding: 1em;
    width: 7%;
}

.chapter-link {
    border-right: 1px solid $border;
    padding: 1em;
    width: 13%;
}

.next-link {
    flex-grow: 1;
    padding-left: 1em;
    text-align: right;
    width: 40%;
}

.left-arrow {
    padding-right: 0.5em;
}

.right-arrow {
    padding-left: 0.5em;
}

#chapter-page-content {
    @include width-calc(width, $widths);
    margin: 0 auto;

    .chapter-contents {
        column-count: 2;
        column-gap: 2em;
        line-height: 2;
        list-style-type: none;
    }

    .page-entry {
        border-radius: 4px;
        display: inline-block;
        padding: 0.2em 0.8em;
        width: calc(100% - 1em);
    }

    img {
        width: 100%;
    }
}

.page-entry {
    &:hover {
        background-color: $accent;
        color: $background;
    }
}

@media screen and (max-width: map-get($breakpoints, 'large')) {
    footer {
        align-items: center;
        flex-direction: column;
    }

    a {
        &.previous-link, &.top-link, &.chapter-link, &.next-link {
            border: 0;
            width: 100%;
            text-align: center;
        }
    }
}
