@import 'user';

$breakpoints: (
    'small': 0px,
    'medium': 768px,
    'large': 1100px
);

$widths: (
    'small': 85vw,
    'medium': 66vw,
    'large': 50vw
);

$font-sizes: (
    'small': 1.2em,
    'medium': 1.3em,
    'large': 1.4em
);

@mixin width-calc($var-name, $input, $breakpoint: $breakpoints) {
    @each $input-breakpoint, $width in $input {
        @if map-has-key($breakpoint, $input-breakpoint) {
            $input-breakpoint: map-get($breakpoint, $input-breakpoint);
        }
        @media screen and (min-width: $input-breakpoint) {
            #{$var-name}: $width;
        }
    }
}

body {
    font-family: $serif;
    background-color: $background;
    color: $foreground;
    line-height: 1.4;
    @include width-calc(font-size, $font-sizes);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
}

article {
    @include width-calc(width, $widths);
    margin: 0 auto;
}

a {
    color: $foreground;
    text-decoration: none;
}

article a {
    text-decoration: underline;
}

footer {
    @include width-calc(width, $widths);
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    border-top: 1px solid $border;
}

footer a {
    color: $border;
    padding: 1em 0;
    text-decoration: none;
    position: relative;
}

footer a:hover {
    text-decoration: none;
}

.top-link::before, .chapter-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $border;
    visibility: hidden;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}

.top-link:hover::before, .chapter-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.previous-link {
    width: 40%;
    padding-right: 1em;
    flex-grow: 1;
    text-align: left;
    border-right: 1px solid $border;
}

.top-link {
    width: 7%;
    border-right: 1px solid $border;
    padding: 1em;
}

.chapter-link {
    width: 13%;
    border-right: 1px solid $border;
    padding: 1em;
}

.next-link {
    width: 40%;
    padding-left: 1em;
    flex-grow: 1;
    text-align: right;
}

.left-arrow {
    padding-right: 0.5em;
}

.right-arrow {
    padding-left: 0.5em;
}

#chapter-page-content {
    @include width-calc(width, $widths);
    margin: 0 auto;
}

#chapter-page-content .chapter-contents {
    column-count: 2;
    list-style-type: none;
    line-height: 2;
    column-gap: 2em;
}

#chapter-page-content .page-entry {
    display: inline-block;
    width: calc(100% - 1em);
    border-radius: 4px;
    padding: 0.2em 0.8em;
}

#chapter-page-content img {
    width: 100%;
}

.page-entry:hover {
    background-color: $accent;
    color: $background;
}

@media screen and (max-width: map-get($breakpoints, "large")) {
    footer {
        flex-direction: column;
        align-items: center;
    }
    a.previous-link, a.top-link, a.chapter-link {
        border: none;
        width: 100%;
    }
}
