@import url('https://fonts.googleapis.com/css?family=Vollkorn|Share+Tech');

$serif: 'Vollkorn', serif;
$sans: 'Share Tech', sans-serif;

$background: #FFF;
$foreground: #111;
$accent: #E87EA1;
$border: #444;
