<!doctype html>
<html>
    <head>
        <title>{{header}}</title>
        <link rel="stylesheet" href="/styles/base.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{> partials/header}}
        {{> content}}
        {{#if includeFooter}}
        {{> partials/footer}}
        {{/if}}
    </body>
</html>
