{{#> templates/base header=title includeFooter=false}}
{{#* inline "content"}}
{{#each order as |main|}}
<h1>{{main}}</h1>
    {{#each (lookup @root/chapters this) as |sub|}}
    <p><a class="page-entry" href="{{linkify main}}/{{linkify sub}}">{{sub}}</a></p>
    {{/each}}
{{/each}}
{{/inline}}
{{/templates/base}}
