{{#> templates/base header=title}}
{{#* inline "content"}}
{{#each chapters}}
<h1>{{@key}}</h1>
    {{#each this}}
    <p class="page-entry">{{this}}</p>
    {{/each}}
{{/each}}
{{/inline}}
{{/templates/base}}
