{{#> templates/base header=title}}
{{#* inline "content"}}
{{#each order as |main|}}
<h1>{{this}}</h1>
    {{#each (lookup @root/chapters this) as |sub|}}
    <p class="page-entry">{{sub}}</p>
    {{/each}}
{{/each}}
{{/inline}}
{{/templates/base}}
